{% extends 'base.html' %}

{% block title %}Twitter{% endblock %}

{% block content %}
    {% if request.session.is_login %}
        {% if request.session.user_level < 5 %}
            <h2 class="text-center">对不起，您的等级不够，无法浏览该页面！</h2>
        {% else %}
            <div class="container">
                {% for i in data %}
                    {#                  <p>{{ i }}</p>#}
                    {#                <div class="container">#}
                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ i.2 }}</h5>
                                <p class="card-text">{{ i.0 }}</p>
                                <p class="card-text"><small class="text-muted">{{ i.3 }}</small></p>
                            </div>
                            {% for j in i.5 %}
                                <img src="{{ j }}" class="card-img-top" alt="pic load error">
                            {% endfor %}
                        </div>
                    </div>
                    <br>
                {% endfor %}
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if pages.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ pages.previous_page_number }}">Pre</a>
                        </li>
                    {% endif %}
                    {% if current_page|add:-2 > 0 %}
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{ current_page|add:-2 }}">{{ current_page|add:-2 }}</a>
                        </li>
                    {% endif %}
                    {% if current_page|add:-1 > 0 %}
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{ current_page|add:-1 }}">{{ current_page|add:-1 }}</a>
                        </li>
                    {% endif %}
                    <li class="page-item"><a class="page-link" href="?page={{ current_page }}">{{ current_page }}</a>
                    </li>
                    {% if pages.has_next %}
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{ current_page|add:1 }}">{{ current_page|add:1 }}</a></li>
                        {% if current_page|add:2 < pages.paginator.num_pages %}
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ current_page|add:2 }}">{{ current_page|add:2 }}</a>
                            </li>
                        {% endif %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ pages.next_page_number }}">Next</a>
                        </li>
                    {% endif %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ pages.paginator.num_pages }}">End</a>
                    </li>
                </ul>
            </nav>
        {% endif %}
    {% else %}
        <h2 class="text-center">想看Twitter? 你还是先登录吧！</h2>
    {% endif %}
{% endblock %}
