{% extends 'base.html' %}

{% block title %}网站开发计划{% endblock %}

{% block content %}
    <div class="container">
    <br><br><br>
        <div class="row">
            <div class="col">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-primary text-center text-white">计划中</li>
                    <li class="list-group-item">视频播放功能</li>
                    <li class="list-group-item">经验值系统（经验码、签到）</li>
                    <li class="list-group-item">修改密码功能</li>
                    <li class="list-group-item">留言板</li>
                    <li class="list-group-item">更多功能。。。</li>

                </ul>
            </div>
            <div class="col">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-success text-center text-white">已上线功能</li>
                    <li class="list-group-item">验证码认证系统</li>
                    <li class="list-group-item">升级码升级系统</li>
                    <li class="list-group-item">搜索功能</li>
                    <li class="list-group-item">用户等级系统</li>
                    <li class="list-group-item">Youtube</li>
                    <li class="list-group-item">A、B站</li>
                    <li class="list-group-item">Twitter</li>

                </ul>
            </div>
        </div>
    </div>
{% endblock %}