{% extends 'base.html' %}

{% block title %}等级说明{% endblock %}

{% block content %}
    <div class="container">
        <ul class="list-group list-group-flush">
            <li class="list-group-item bg-primary text-center text-white">全站等级制度说明</li>
            <li class="list-group-item">等级 > 0  可浏览Acfun,Bilibili,Youtube区内容</li>
            <li class="list-group-item">等级 > 1  可使用搜索功能</li>
            <li class="list-group-item">等级 > 4  可浏览Twitter区内容</li>
            <li class="list-group-item">等级 > 8  可进入隐藏板块(黑区)</li>
            <li class="list-group-item">等级 > 9  全站无障碍浏览</li>
        </ul>
    </div>
{% endblock %}